In [2]:
import pandas as pd
import requests

In [3]:
from bs4 import BeautifulSoup

In [4]:
url_start = 'https://www.basketball-reference.com/players/a/avdijde01/gamelog/{}'

In [5]:
years=list(range(2021,2025))

Explanation:

- `requests.get(url)`: 


     This line sends an HTTP GET request to the specified URL (`url`) to retrieve the content of the webpage such as the 
     response, status code, headers, and the content of the webpage
     
- `with open("C:\\Users\\user\\deni_avdija\\{}.html".format(year),"w+", encoding="utf-8") as f:
f.write(data.text)`: 


     This line sends an HTTP GET request to the specified URL (`url`) to retrieve the content of the webpage such as the 
     response, status code, headers, and the content of the webpage

In [6]:
for year in years:
    url=url_start.format(year)
    print(url)
    data=requests.get(url)
    with open("C:\\Users\\user\\deni_avdija\\{}.html".format(year),"w+", encoding="utf-8") as f:
        f.write(data.text)

https://www.basketball-reference.com/players/a/avdijde01/gamelog/2021
https://www.basketball-reference.com/players/a/avdijde01/gamelog/2022
https://www.basketball-reference.com/players/a/avdijde01/gamelog/2023
https://www.basketball-reference.com/players/a/avdijde01/gamelog/2024

In [8]:
with open("C:\\Users\\user\\deni_avdija\\2021.html",encoding="utf-8") as f :
    page=f.read()

- BeautifulSoup is used to parse HTML content, making it easier to extract specific elements and attributes from HTML documents.
- this is the html:

In [17]:
soup = BeautifulSoup(page, "html.parser")


- Here, BeautifulSoup helps us locate the table containing the game log data. 
- We search for an HTML element with the ID "pgl_basic" using `soup.find(id="pgl_basic")`. 
- Once found, this element represents the game log table.

In [11]:
table_2021=soup.find(id="pgl_basic")

In [14]:
#table_2021A=pd.read_html(str(table_2021))[0]

- Based on this concept: `table_2021A = pd.read_html(str(table_2021))[0]` will iterate through all the HTML and retrieve the data.

In [55]:
dfs=[]
for year in years:
    with open("C:\\Users\\user\\deni_avdija\\{}.html".format(year),encoding="utf-8") as f :
        page=f.read()
        soup = BeautifulSoup(page, "html.parser")
        table=soup.find(id="pgl_basic")
        table=pd.read_html(str(table))[0]
        dfs.append(table)

In [60]:
dfs[0]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2020-12-23,19-355,WAS,@,PHI,L (-6),1,28:06,...,4,4,1,1,0,1,3,7,6.7,+14
1,2,2,2020-12-26,19-358,WAS,NaN,ORL,L (-10),1,14:40,...,3,3,2,0,0,0,4,5,4.7,-7
2,3,3,2020-12-27,19-359,WAS,NaN,ORL,L (-7),1,36:11,...,7,9,3,2,0,1,1,9,9.1,+13
3,4,4,2020-12-29,19-361,WAS,NaN,CHI,L (-8),1,26:19,...,4,4,4,2,1,1,5,9,9.7,-5
4,5,5,2020-12-31,19-363,WAS,NaN,CHI,L (-3),1,24:32,...,3,4,3,0,0,0,1,6,6.6,+5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,68,NaN,2021-05-08,20-125,WAS,@,IND,W (+1),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
71,69,NaN,2021-05-10,20-127,WAS,@,ATL,L (-1),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
72,70,NaN,2021-05-12,20-129,WAS,@,ATL,L (-4),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
73,71,NaN,2021-05-14,20-131,WAS,NaN,CLE,W (+15),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
74,72,NaN,2021-05-16,20-133,WAS,NaN,CHO,W (+5),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [59]:
dfs[1]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2021-10-20,20-290,WAS,@,TOR,W (+15),0,20:52,...,5,7,1,2,2,1,1,8,12.3,+13
1,2,2,2021-10-22,20-292,WAS,NaN,IND,W (+1),0,16:43,...,2,2,1,0,0,1,2,2,-0.2,+1
2,3,3,2021-10-25,20-295,WAS,@,BRK,L (-14),0,19:10,...,7,8,2,0,1,0,2,2,1.9,-6
3,4,4,2021-10-27,20-297,WAS,@,BOS,W (+9),0,16:54,...,2,2,2,0,1,0,2,8,8.9,+7
4,5,5,2021-10-28,20-298,WAS,NaN,ATL,W (+11),0,22:28,...,3,5,1,0,0,2,2,5,0.0,+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,79,2022-04-05,21-092,WAS,@,MIN,W (+18),0,35:39,...,7,8,5,1,2,3,4,17,12.6,+16
82,80,80,2022-04-06,21-093,WAS,@,ATL,L (-15),0,33:32,...,5,7,6,0,0,2,4,9,6.4,-16
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,81,2022-04-08,21-095,WAS,NaN,NYK,L (-22),1,25:48,...,3,4,3,1,0,4,2,11,5.2,-20
85,82,82,2022-04-10,21-097,WAS,@,CHO,L (-16),1,31:08,...,4,5,4,1,0,1,2,12,9.5,-11

In [61]:
dfs[2]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,21-289,WAS,@,IND,W (+7),1,7:40,...,0,0,0,0,0,0,0,4,3.7,+14
1,2,2,2022-10-21,21-291,WAS,NaN,CHI,W (+2),1,23:01,...,10,10,4,1,1,1,5,6,8.5,+16
2,3,3,2022-10-23,21-293,WAS,@,CLE,L (-10),1,14:27,...,2,2,0,2,0,1,4,2,-1.8,+1
3,4,4,2022-10-25,21-295,WAS,NaN,DET,W (+21),1,26:50,...,7,7,2,1,2,0,3,9,10.7,+12
4,5,5,2022-10-28,21-298,WAS,NaN,IND,L (-10),1,19:58,...,1,2,0,0,0,2,2,7,1.5,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,78,76,2023-04-02,22-089,WAS,@,NYK,L (-9),1,34:25,...,3,3,5,3,1,8,4,9,3.1,-3
81,79,NaN,2023-04-04,22-091,WAS,NaN,MIL,L (-12),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
82,80,NaN,2023-04-05,22-092,WAS,@,ATL,L (-18),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,NaN,2023-04-07,22-094,WAS,NaN,MIA,W (+6),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [62]:
dfs[3]

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2023-10-25,22-295,WAS,@,IND,L (-23),1,20:40,...,5,7,5,1,0,2,0,9,10.0,-15
1,2,2,2023-10-28,22-298,WAS,NaN,MEM,W (+7),1,27:26,...,4,6,2,2,0,1,2,10,10.2,+9
2,3,3,2023-10-30,22-300,WAS,NaN,BOS,L (-19),1,22:13,...,5,7,1,1,0,0,4,11,8.6,-26
3,4,4,2023-11-01,22-302,WAS,@,ATL,L (-9),1,23:34,...,2,5,3,2,1,1,5,22,18.9,+3
4,5,5,2023-11-03,22-304,WAS,@,MIA,L (-7),1,23:46,...,4,4,3,0,0,2,1,14,11.3,-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,72,2024-04-07,23-095,WAS,@,TOR,L (-8),1,41:14,...,9,10,5,2,3,4,3,32,27.3,+1
82,80,73,2024-04-09,23-097,WAS,@,MIN,L (-9),1,35:00,...,6,6,5,0,1,2,4,15,10.2,+3
83,Rk,G,Date,Age,Tm,NaN,Opp,NaN,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
84,81,74,2024-04-12,23-100,WAS,NaN,CHI,L (-2),1,37:37,...,12,12,8,0,0,4,3,24,19.9,+5
85,82,75,2024-04-14,23-102,WAS,@,BOS,L (-10),1,30:43,...,3,3,2,0,1,1,1,9,4.1,-14

- output the data to excel:

In [76]:
i=0
writer = pd.ExcelWriter('output.xlsx')

for df in dfs:
    name="deni"+str(i)
    print(name)
    i=i+1
    df.to_excel(writer, sheet_name=name)
    
writer.save()

deni0
deni1
deni2
deni3